<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VendorsTotalReport.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <VendorsTotalReport.Settings>
      <setting name="DBConnectionString" serializeAs="String">
        <value>Data Source=../../../../Supermarket.db;Version=3;</value>
      </setting>
    </VendorsTotalReport.Settings>
  </userSettings>
  <connectionStrings>
    <add  name="SupermarketDB.SQLServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Supermarket;integrated security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>